/web/core
/web/sites/*/settings.*.php
/web/sites/*/services*.yml
/web/sites/*/files
/web/sites/*/private
/web/sites/simpletest
/web/modules/contrib
/web/profiles/contrib
/web/themes/contrib
/vendor

.ddev
.idea

*.gz
*.sql.gz
*.sql

