.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip-path: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
}

a {
    color: #7631f7;
}
a:visited {
    color: #9b6cf3;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
}
h1 {
    padding-left: 1rem;
}

article {
    font-family: serif;
    padding: 1rem;
    padding-top: 0.1rem;
}
article.full > div {
    border-top: 2px solid #e48e54;
}
article.full footer {
    display: flex; 
    justify-content: flex-end;
    padding-top: 1rem;
}
article  h2 {
    font-size: 1.0rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width:45%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 6px;

    font-family: Arial, sans-serif;
    background-color: #e48e54;
    color: #fff;
}
header ul {
    display: flex;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
    gap: 1rem;
    align-items: center;
}
header ul li {
    margin: 0;
}
header ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s;
}

header ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

footer {
    margin-bottom: 0.5rem;
}

#block-basicblog-site-branding a {
    color: #fff;
    font-size: 3.5rem;
    text-decoration: none;
}

code {
    background-color: #f0f0f0;
    padding: 0.2rem;
}

#block-basicblog-siteinfo p {
    font-size: 0.8rem;
}

.views-row h2, h1 {
    font-size: 1.3rem;
}

.views-element-container header {
    background-color: transparent;
}

div.tags {
    border-top: 2px solid #e48e54;
    padding-top: 1rem;
}

